    <!-- Wrapper Start -->
    <section id="intro">
        <div class="container">
          <div class="row">
            <div class="col-md-7 col-sm-12">
              <div class="block">
                <div class="section-title">
                  <h2>About Myself</h2>
                  <p>
                    I'm Kiet Tran and also a computer wanderer !
                  </p>
                </div>
                  <p>Journey to the computer world has no ending. Inside that world, everything is vast and somehow enigmatic. It's like a parallel world. Lots of people come, build their own empire and make it a better place. However, people still haven't exploited its potential and resources. There are still many places that remained untouched and need to be discovered. I'm one of those citizens trying to build my own dream, a tiny castle perhap. It's not an easy task: daily problems arise; with help from community and other people, I can overcome those obstacles.
                     
                  </p>
              </div>
            </div><!-- .col-md-7 close -->
            <div class="col-md-5 col-sm-12">
              <div class="wrapper">
               <!-- <img src="img/my_avatar.jpg" style="width:200px" alt="Img"> -->
              </div>
            </div><!-- .col-md-5 close -->
          </div>
        </div>
      </section>
