    <!-- Wrapper Start -->
    <section id="intro">
        <div class="container">
          <div class="row">
            <div class="col-md-7 col-sm-12">
              <div class="block">
                <div class="section-title">
                  <h2>About Myself</h2>
                  <p>
                    I'm Kiet Tran and also a computer wanderer !
                  </p>
                </div>
                  <p>Journey to the computer world has no ending. Inside that world, everything is vast and somehow enigmatic. It's like a parallel world. Lots of people come, build their own empire and make it a better place. However, people still haven't exploited its potential and resources. There are still many places that remained untouched and need to be discovered. I'm one of those citizens trying to build my own dream, a tiny castle perhap. It's not an easy task: daily problems arise; with help from community and other people, I can overcome those obstacles. 
                      About myself, I'm fascinated by anime, manga due to their drawing, plot twist and animation from Japan. it's so coooool and sometimes I'm asking myself how they can achieve that. I do play games sometimes and dota is my favourite. The graphic is not too bad, it's free and it requires flexibility, teamwork to win the game.
                                           
              </div>
            </div><!-- .col-md-7 close -->
            <div class="col-md-5 col-sm-12">
              <div class="block">
                <img src="img/my_avatar.jpg" width="300" height="300" alt="Img">
              </div>
            </div><!-- .col-md-5 close -->
          </div>
        </div>
      </section>
