
  <section id="feature">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-6">
          <h2>GREAT IDEAS COME FROM UNEXPECTED PLACES</h2>
          <p>I love reading news about technology; MIT technology review is my favourite source for that. They have articles about
          the most popular technology such as AI, blockchain, algorithms for AI, etc. Plus, I am also interested in reading articles about data
          According o the Economist, "The world’s most valuable resource is no longer oil, but data"</p>
          <p>I love nature. It always feels good, refreshed when to be surrounded among trees, except for Winter weather... I'm not a big fan of
            cold.I wish I have a chance to visit all the well-known national park in the US such as Yellowstone, Yosemite, Arches,etc
           <h2>My "Tiny" Résumé </h2>
          <iframe src="https://onedrive.live.com/embed?cid=C3C076694112F377&resid=C3C076694112F377%2116414&authkey=ANQDa9Vx0Nop01Y&em=2" width="476" height="288" frameborder="0" scrolling="no"></iframe>
        </div>
      </div>
    </div>
  </section>
        
