    <!-- Call to action Start -->
    <section id="call-to-action">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="block">
                <h2>I deliver gentle digital experiences.</h2>
                <p>Read more about my philosophy of code design. Judge for yourself. The work and results I've achieved so far, to meet high expectation from clients.</p>
                <a class="btn btn-default btn-call-to-action" href="/contact.html" >Send me your idea!</a>
              </div>
            </div>
          </div>
        </div>
      </section>
