<!-- Service Start -->
<section id="service">
    <div class="container">
      <div class="row">
        <div class="section-title">
          <h2>My Services</h2>
          <p>Far far away, behind the word mountains, there exists a lonely code fighter, who trains every day to become stronger, he tries his best to find a master to serve, to find his goal purpose</p>
        </div>
      </div>
      <div class="row ">
        <div class="col-sm-6 col-md-3">
          <div class="service-item">
            <i class="icon ion-coffee"></i>
            <h4>Branding</h4>
            <p style="color: #3333cc;">Try to create my own signature, my own "style" codes</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="service-item">
            <i class="ion-compass"></i>
            <h4>Web Design</h4>
            <p style="color: #3333cc;">I can design the front-end; it is not my strength. </p>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="service-item">
            <i class="ion-image"></i>
            <h4>App Design</h4>
            <p style="color: #3333cc;">Learning how to design application for mobile right now...</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="service-item">
            <i class="ion-bug"></i>
            <h4>Bugs</h4>
            <p style="color: #3333cc;">Do my best to deliver code with as less bugs as possible with tight documentations. </p>
          </div>
        </div>
      </div>
    </div>
  </section>
