
    <!-- Slider Start -->
    <section id="slider">
        <div class="container">
          <div class="row">
            <div class="col-md-10 col-md-offset-2">
              <div class="block">
                <h1 class="animated fadeInUp">{{ page.title }}</h1>
                <p class="animated fadeInUp">A website can be very time-consuming. Also, it's a place where people join their hearts</br> 
                  People build their own castles on this empty, potential land.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>